* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
.banner {
  width: 100%;
  height: 100vh;
  background: url("../src/components/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.banner_content {
  display: flex;
  align-items: center;
  height: 100vh;
  
  color: #fff;
}
.container {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}
.banner_text {
  width: 500px;
}
.banner_text h3 {
  font-size: 50px;
  margin-top: 20px;
}
.banner_text h1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 800;
  margin-top: 20px;
}
.banner_text p {
  font-size: 25px;
  font-weight: 400;
  margin-top: 20px;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navbartext {
  display: flex;
  height: 60px;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
}
.logo {
  width: 40%;
}
.logo img {
  width: 220px;
}
.navbar_ul {
  width: 60%;
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.navbar li a {
  text-decoration: none;
  color: #fff;
  padding: 0 15px;
  font-weight: 800;
  text-transform: uppercase;
}
.btn {
  text-decoration: none;
  border: none;
  outline: none;
  font-weight: 700;
  color: #fff;
  border-radius: 30px;
  font-size: 12px;
  padding: 20px 40px;
}
.btn_smart {
  background: rgb(255, 69, 79);
}
.banner_btn {
  margin-top: 35px;
}
.about {
  padding: 80px 0;
}
.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col-6{
  width: 50%;

}
.about h3{
  color: rgba(37,37,37,0.7);
  font-size: 30px;
  margin-bottom: 12px;
  font-weight: 700;

}
.p-25{
  padding: 45px;
}
.about h1{
  font-size: 40px;
  color: #252525;
  line-height: 40px;
  font-weight: 900;
  margin-bottom: 15px;
}
.about p{
  font-size: 18px ;
  color: #Bb8b8b;
  font-size: 300;

}
.about_btn{
  margin-top: 35px;

}
.about_img{
  width: 100%;
  overflow: hidden;
}
.about_img img{
  width: 100%;
}
.shop{
  width: 100%;
  background-image: url("./components/img/bg.jpg");
height: 450px;
background-attachment: fixed;
}
.shop_text{
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 400px;
  color: #fff;
}
.shop_text h1{
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-style: normal;
}
.shop_btn{
  margin-top: 35px;
}
.menucontent{
  padding-left: 100px;
}
.clients{
  width: 100%;
  padding: 100px 0;
  background: url(./components/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}
.col-3{
  width: 25%;

}
.client{
  text-align: center;
}
.client h1{
  font-size: 45px;
}
.client p{
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;

}
.prices{
  width: 100%;
  padding: 80px 0;

}
.col-4{
  width: 33.33333333333333%;
}
.price{
  padding: 20px;
text-align: center;
}
.price_img{
  width: 100%;
}
.price_img img{
  width: 250px;

}
.price_heading{
  margin-top: 28px;
font-size: 25px;
}
.price_text
{
  margin: 15px;
  color: #888888;
  font-size: 18px;
  font-weight: 300;

}
.price_rs{
  font-size: 30px;
  margin-top: 15px;

}

@media(max-width:700px){
.navbartext{
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.logo{
  margin-bottom:20px ;
  margin-top: 20px;
}
.container{
  width: 100%;
  padding: 0 0px;
}
.banner_text{
  width: auto;

}
.banner_text h3{
  font-size: 25px;
}
.banner_text h1{
  font-size: 50px;
}
.banner_text p{
  font-size: 20px;


}
.col-3,.col-4,.col-6{
  width: 100%;
  padding: 0 30px;
}
.client{
  margin: 20px 0;
}
.about_img img{
  margin-top: 40px;
}
}